<!DOCTYPE html>
<html lang="pt-br">

<head>
    {{> head }}
</head>

<body class="common-home res layout-home1">
    <div id="wrapper" class="wrapper-full banners-effect-7">
        <!-- Header Container  -->
        {{{body}}}
    </div>

    {{> footer }}
</body>

</html>